<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ReservationMapper">

    <!-- 予約情報の検索 -->
    <select id="searchReservations" resultType="com.example.demo.entity.ReservationEntity">
        SELECT *
        FROM reservation
        WHERE
        <if test="userId != null and userId != ''">
            user_id = #{userId}
        </if>
        <if test="roomId != null and roomId != ''">
            AND room_id = #{roomId}
        </if>
        <if test="date != null">
            AND date = #{date}
        </if>
    </select>

    <!-- CSV出力用予約情報の取得 -->
    <select id="getReservationsForCsv" resultType="com.example.demo.entity.ReservationEntity">
        SELECT *
        FROM reservation
        WHERE seq_number IN
        <foreach item="seqNumber" collection="seqNumbers" open="(" separator="," close=")">
            #{seqNumber}
        </foreach>
    </select>

</mapper>
